* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(#eceffe, #ced6fb);
}

.swiper {
  width: 600px;
  height: 1100px;
}

/* .swiper-slide {
  width: 50%;
} */

.card-wrapper {
  max-width: 1100px;
  margin: 0 60px 60px;
  padding: 20px 10px;
  overflow: hidden;
}
.card-list .card-item {
  list-style: none;
}

.card-list .card-item .card-link {
  user-select: none;
  /* width: 400px; */
  display: block;
  background: #fff;
  padding: 18px;
  text-decoration: none;
  border-radius: 12px;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
}

.card-list .card-item .card-link:active {
  cursor: grabbing;
}

.card-list .card-item .card-link:hover {
  border-color: #5372f0;
}

.card-list .card-link .card-image {
  width: 100%;
  aspect-ratio: 12 / 9;
  object-fit: cover;
  border-radius: 10px;
}

.card-list .card-link .badge {
  margin: 16px 0 18px;
  padding: 8px 16px;
  font-size: 0.95rem;
  font-weight: 500;
  color: #b22485;
  background: #f7dff5;
  width: fit-content;
  border-radius: 50px;
}

.card-list .card-link .badge.editor {
  color: #856404;
  background: #fff3cd;
}

.card-list .card-link .badge.gamer {
  color: #205c20;
  background: #d6f8d6;
}

.card-list .card-link .badge.developer {
  color: #5372f0;
  background: #dde4ff;
}

.card-list .card-link .badge.marketer {
  color: #b25a2b;
  background: #ffe3d2;
}

.card-list .card-link .card-title {
  font-size: 1.19rem;
  font-weight: 600;
  color: #000;
}

.card-list .card-link .card-button {
  height: 35px;
  width: 35px;
  margin: 30px 0 5px;
  color: #5372f0;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #5372f0;
  background: none;
  transform: rotate(-45deg);
}

.card-list .card-link:hover .card-button {
  color: #fff;
  background: #5372f0;
}

.swiper-pagination-bullet {
  height: fit-content;
}

.card-wrapper .swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  opacity: 0.5;
  background: #5372f0;
}

.card-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}

.card-wrapper .swiper-slide-button {
  color: #5372f0;
  margin-top: -35px;
}

@media screen and (max-width: 768px) {
  .card-wrapper {
    margin: 0 10px 25px;
  }

  .card-wrapper .swiper-slide-button {
    display: none;
  }
}
